::ng-deep .mat-dialog-container {
  border-radius: 0;
}
.title_ {
  border-bottom: 1px solid #013964;
}
h1 {
  @apply uppercase;
  margin-top: 4px;
  font-family: manrope_medium, sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  color: #013964;
}
h3 {
  font-family: manrope_regular, sans-serif;
  font-size: 16px;
}
.button_ {
  @apply uppercase py-2;
  font-family: manrope_regular, sans-serif;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 4px;
  border-radius: 0;
  border: 1px solid #013964;
  background-color: #DEF2FF;
  color: #013964;
}
.form_ {
  margin: 0 auto;
}
.form_field_ {
  font-family: manrope_regular, sans-serif;
  font-size: 14px;
}
.time_ {
  border: 1px solid #446897;
  font-family: manrope_regular, sans-serif;
  font-size: 14px;
  color: #446897;
  padding-left: 2px;
  padding-right: 4px;
}
.time_text_ {
  margin-top: 2px;
  color: #446897;
}
