.top_ {
  border-bottom: 1px solid #013964;
  background-color: #F1FAFF;
}
h2 {
  font-family: manrope_medium, sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  color: #013964;
}
h3 {
  font-family: manrope_regular, sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  color: #013964;
}
.button_ {
  @apply uppercase py-2;
  width: 120px;
  font-family: manrope_regular, sans-serif;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 6px;
  background-color: #DEF2FF;
  border-radius: 0;
  border: 1px solid #013964;
  color: #013964;
}
.button_s_ {
  text-transform: uppercase;
  text-align: center;
  font-family: manrope_regular, sans-serif;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 6px;
  padding: 5px 20px 5px 24px;
  background-color: white;
  border-radius: 0;
  border: 1px solid black;
  color: black;
}
.private_flex_ {
  margin-top: 1px;
}
.private_text_ {
  margin-top: 2px;
  font-family: degular_light, sans-serif;
  font-size: 10px;
  letter-spacing: 4px;
}
.concert_ {
  background-color: #DEF2FF;
}
