<div class="flex flex-col items-center mt-32">
  <div class="top_ fixed w-10/12 pb-4 z-10">
    <div class="flex justify-between">
      <h2>CONCERTS</h2>
      <div class="self-center">
        <button mat-flat-button class="button_" (click)="createConcertDialog()">AFEGIR</button>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-10/12 mt-20">
    <ng-container *ngFor="let item of concertsArray">
      <div class="concert_ flex justify-between items-center relative w-full h-16 mb-4">
        <h3 class="ml-8">{{item.title}}</h3>
        <div class="flex items-center mr-8">
          <div class="private_flex_ flex items-center">
            <mat-checkbox color="accent" [checked]="item.private" (click)="switchPrivate(item)"></mat-checkbox>
            <div class="private_text_ ml-2">PRIVATE</div>
          </div>
          <div class="ml-8">
            <button mat-flat-button class="button_s_"
                    (click)="editConcertDialog(item)">EDIT</button>
          </div>
          <div class="ml-4">
            <button mat-flat-button class="button_s_"
                    (click)="deleteConcert(item)">DELETE</button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
