<div class="layout_ flex flex-col w-full min-h-full">
  <div class="z-10">
    <div class="top_ fixed w-full h-16 flex justify-between items-center">
      <h1 class="ml-8">Alba Careta CMS</h1>
      <button mat-flat-button class="logout_" (click)="logout()">logout</button>
    </div>
    <div class="admin_opts_ fixed w-full h-8 mt-16 bg-gray-400">
      <ul class="flex items-center h-full ml-8">
        <li class="mr-8">CONCERTS</li>
      </ul>
    </div>
  </div>
  <div class="z-0">
    <router-outlet></router-outlet>
  </div>

</div>

