.image_cropper_ {
  @apply mr-20;
  width: 480px;
  height: 320px;
  object-fit: cover;
  --cropper-overlay-color: #446897
}
.preview_title_ {
  font-family: manrope_regular, sans-serif;
  font-size: 12px;
  color: #013964;
}
.preview_image_ {
  margin-top: 8px;
  width: 256px;
  height: 167px;
  background-color: #446897;
  object-fit: cover;
}
.button_ {
  @apply uppercase py-2;
  font-family: manrope_regular, sans-serif;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 4px;
  border-radius: 0;
  border: 1px solid #013964;
  background-color: #DEF2FF;
  color: #013964;
}
.close_button_ {
  font-family: marbry_regular, sans-serif;
  font-size: 10px;
  background-color: #cd4d49;
  color: #f8f6e9;
  padding: 0 24px;
}
.save_button_ {
  font-family: marbry_regular, sans-serif;
  font-size: 10px;
  background-color: #095f6a;
  color: #f8f6e9;
  padding: 0 24px;
}
