
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$primary: (
  Main: #ffffff,
  Light: #ffffff,
  Dark: #cccccc,
  contrast: (
    Main: #013964,
    Light: #013964,
    Dark: #013964
  )
);
$accent: (
  Main: #013964,
  Light: #3e6392,
  Dark: #001339,
  contrast: (
    Main: #ffffff,
    Light: #ffffff,
    Dark: #ffffff
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$alba-careta-cms-primary: mat.define-palette($primary, Main, Light, Dark);
$alba-careta-cms-accent: mat.define-palette($accent, Main, Light, Dark);

// The warn palette is optional (defaults to red).
$alba-careta-cms-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$alba-careta-cms-theme: mat.define-light-theme((
  color: (
    primary: $alba-careta-cms-primary,
    accent: $alba-careta-cms-accent,
    warn: $alba-careta-cms-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($alba-careta-cms-theme);

/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "manrope_medium";
  src: url("assets/fonts/Manrope-Medium.woff") format("woff");
}
@font-face {
  font-family: "manrope_regular";
  src: url("assets/fonts/Manrope-Regular.woff") format("woff");
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background-color: #446897;
}
:focus {
  outline: none;
}
.mat-form-field {
  .mat-input-element {
    color: #446897;
  }
  .mat-form-field-label {
    color: #446897;
  }
  .mat-form-field-underline {
    background-color: #446897;
  }
  .mat-form-field-ripple {
    background-color: #446897;
  }
  .mat-form-field-required-marker {
    color: #446897;
  }
  .mat-focused {
    color: #446897;
  }
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #DEF2FF;
}


